* {
  margin: 0;
  padding: 0;
}
/* top banner */
.top-banner {
  background-color: #d34836;
  color: white;
  height: 35px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.top-banner span {
  text-transform: uppercase;
}
.top-banner a {
  color: white;
}

/* logo and headings */
h2 {
  text-transform: uppercase;
  color: white;
}

body {
  background-color: #FFFDE5;
}
/* navbar */
nav {
  height: 64px;
  padding-top: 4rem;
}
/* welcome section */
.welcome span h2 {
  color: #d34836;
  size: 280%;
}

.welcome p {
  color: #000000;
}

.social-networks li a {
  list-style: none;
  color: black;
}
/* carousel */

/* contact area */
.contact-area {
  background-color: #000000;
  color: white;
}
.col-12 input, .col-12 textarea {
  border-radius: 0;
  background-color: #000000;
  color: white;
}
.social-links a {
  color: white;
}
.social-links a:hover {
  color: pink;
}
/* buttons */
.btn {
  border-radius: 0;
}
.btn-red {
  background-color: #d34836;
  color: white;
}
.btn-red:hover {
  background-color: white;
  color: #000000;
}
.btn-white {
  background-color: white;
  color: #000000;
}
.btn-white:hover {
  background-color: #000000;
  color: white;
  border: 2px solid white;
}
.btn-black {
  background-color: #000000;
  color: white;
}
.btn-black:hover {
  color: pink;
}
#btn-contact {
  width: 100%;
  border: 2px solid white;
}
/* footer */

footer {
  background-color: #d34836;
  color: white;
  text-align: center;
}
input {
  border: 2px solid white;
  background-color: #000000;
}
.divider-white {
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: pink;
}

/* google map with marker */
/*.mapouter {
  position: relative;
  text-align: center;
  height: 500px;
  width: 100%;
}*/
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}